@model Core.Dtos.AdminPanelDaysDto

<div>
    <p>Команда: @Model.TeamName</p>
    <img src="/images/edit_button.png">

    @for (var i = Model.StartDayNumber; i < Model.CurrentDay.Number; i++)
    {
        <p class="finished">День @i</p>
    }
    
    <img src="/images/restart_button.png">
    <p class="inProcess">День @Model.CurrentDay.Number</p>
    <img src="/images/edit_button.png" id="day-edit">
    
    @for (var i = Model.CurrentDay.Number + 1; i < Model.FinishDayNumber + 1; i++)
    {
        <p class="notStartedYet">День @i</p>
    }

    <button class="back-button">Назад</button>
</div>

<script>
    document.getElementById("day-edit").addEventListener('click', function () {
        window.location.href = `/admin/edit?sessionId=@Model.SessionId&teamId=@Model.TeamId&dayNumber=@Model.CurrentDay.Number`;
    });
</script>