@model Core.Dtos.AdminPanelDayEditDto

<div>
    <p>Команда: @Model.TeamName</p>
    <p>День @Model.DayNumber</p>
    <p>Порядок назначения ролей</p>
    <p>Таблица распределения ролей</p>

    <p>Поставленные тикеты</p>
    @foreach (var submittedTicket in Model.SubmittedTickets)
    {
        <p class="ticket" id="@submittedTicket">
            @submittedTicket
            <img src="images/ticket.jpg">
            <img src="images/closeTicket.jpg">
        </p>
    }
    <p class="add-ticket">
        <img src="images/addTicket.jpg">
    </p>

    <p>Взятые в очередь тикеты</p>
    @foreach (var takenTicket in Model.TakenTickets)
    {
        <p class="ticket" id="@takenTicket">
            @takenTicket
            <img src="images/ticket.jpg">
            <img src="images/closeTicket.jpg">
        </p>
    }
    <p class="add-ticket">
        <img src="images/addTicket.jpg">
    </p>

    <button class="save-button">Сохранить</button>
    <button class="back-button">Назад</button>
</div>

@* <div class="container5"> *@
@*     <div class="container6"> *@
@*         <h1 class="fw-normal fs-2 text-center">Изменить порядок назначения ролей</h1> *@
@*          *@
@*         <div class="roleTable"> *@
@* *@
@*             <div class="row-30"> *@
@*                 <div class="roleRow"> *@
@*                     <p class="text-center fs-6 ">Аналитик</p> *@
@*                 </div> *@
@*                 <select class="roleSelect" name="role"> *@
@*                     <option value="Analyst" selected="selected">Аналитик</option> *@
@*                     <option value="Programmer">Разработчик</option> *@
@*                     <option value="Tester">Тестировщик</option> *@
@*                 </select> *@
@*             </div> *@
@* *@
@*             <div class="row-30"> *@
@*                 <div class="roleRow"> *@
@*                     <p class="text-center fs-6 ">Аналитик</p> *@
@*                 </div> *@
@*                 <select class="roleSelect" name="role"> *@
@*                     <option value="Analyst" selected="selected">Аналитик</option> *@
@*                     <option value="Programmer">Разработчик</option> *@
@*                     <option value="Tester">Тестировщик</option> *@
@*                 </select> *@
@*             </div> *@
@* *@
@*             <div class="row-30"> *@
@*                 <div class="roleRow"> *@
@*                     <p class="text-center fs-6 ">Разработчик</p> *@
@*                 </div> *@
@*                 <select class="roleSelect" name="role"> *@
@*                     <option value="Analyst">Аналитик</option> *@
@*                     <option value="Programmer" selected="selected">Разработчик</option> *@
@*                     <option value="Tester">Тестировщик</option> *@
@*                 </select> *@
@*             </div> *@
@* *@
@*             <div class="row-30"> *@
@*                 <div class="roleRow"> *@
@*                     <p class="text-center fs-6 ">Разработчик</p> *@
@*                 </div> *@
@*                 <select class="roleSelect" name="role"> *@
@*                     <option value="Analyst">Аналитик</option> *@
@*                     <option value="Programmer" selected="selected">Разработчик</option> *@
@*                     <option value="Tester">Тестировщик</option> *@
@*                 </select> *@
@*             </div> *@
@* *@
@*             <div class="row-30"> *@
@*                 <div class="roleRow"> *@
@*                     <p class="text-center fs-6 ">Тестировщик</p> *@
@*                 </div> *@
@*                 <select class="roleSelect" name="role"> *@
@*                     <option value="Analyst">Аналитик</option> *@
@*                     <option value="Programmer">Разработчик</option> *@
@*                     <option value="Tester" selected="selected">Тестировщик</option> *@
@*                 </select> *@
@*             </div> *@
@* *@
@*             <div class="row-30"> *@
@*                 <div class="roleRow"> *@
@*                     <p class="text-center fs-6 ">Тестировщик</p> *@
@*                 </div> *@
@*                 <select class="roleSelect" name="role"> *@
@*                     <option value="Analyst">Аналитик</option> *@
@*                     <option value="Programmer">Разработчик</option> *@
@*                     <option value="Tester" selected="selected">Тестировщик</option> *@
@*                 </select> *@
@*             </div> *@
@* *@
@*             <div class="row-30"> *@
@*                 <div class="roleRow"> *@
@*                     <p class="text-center fs-6 ">Тестировщик</p> *@
@*                 </div> *@
@*                 <select class="roleSelect" name="role"> *@
@*                     <option value="Analyst">Аналитик</option> *@
@*                     <option value="Programmer" selected="">Разработчик</option> *@
@*                     <option value="Tester" selected="selected">Тестировщик</option> *@
@*                 </select> *@
@*             </div> *@
@* *@
@*         </div> *@
@*     </div> *@
@*      *@
@*     <div class="container6"> *@
@*         <h1 class="fw-normal fs-2 text-center">Поставленные тикеты</h1> *@
@*          *@
@*         <div class="angelTicketsContainer"> *@
@*              *@
@*             <div class="angelsCardsMargin"> *@
@*                 <div class="angelsCardContainer"> *@
@*                     <div class="angelsCardContent"> *@
@*                         <h2 class="checkboxCardNumber">#1</h2> *@
@*                         <div class="lines"> *@
@*                             <div class="line full"></div> *@
@*                             <div class="line half"></div> *@
@*                             <div class="line half"></div> *@
@*                         </div> *@
@* *@
@*                         <img class="delete" src="images/крестик.jpg" alt="del"> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <div class="angelsCardsMargin"> *@
@*                 <div class="angelsCardContainer"> *@
@*                     <div class="angelsCardContent"> *@
@*                         <h2 class="checkboxCardNumber">#1</h2> *@
@*                         <div class="lines"> *@
@*                             <div class="line full"></div> *@
@*                             <div class="line half"></div> *@
@*                             <div class="line half"></div> *@
@*                         </div> *@
@* *@
@*                         <img class="delete" src="images/крестик.jpg" alt="del"> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <div class="angelsCardsMargin"> *@
@*                 <div class="angelsCardContainer"> *@
@*                     <div class="angelsCardContent"> *@
@*                         <h2 class="checkboxCardNumber">#1</h2> *@
@*                         <div class="lines"> *@
@*                             <div class="line full"></div> *@
@*                             <div class="line half"></div> *@
@*                             <div class="line half"></div> *@
@*                         </div> *@
@* *@
@*                         <img class="delete" src="images/крестик.jpg" alt="del"> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <div class="angelsCardsMargin"> *@
@*                 <div class="angelsCardContainer"> *@
@*                     <div class="angelsCardContent"> *@
@*                         <h2 class="checkboxCardNumber">#1</h2> *@
@*                         <div class="lines"> *@
@*                             <div class="line full"></div> *@
@*                             <div class="line half"></div> *@
@*                             <div class="line half"></div> *@
@*                         </div> *@
@* *@
@*                         <img class="delete" src="images/крестик.jpg" alt="del"> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <div class="angelsCardsMargin"> *@
@*                 <div class="angelsCardContainer paddingNone cursorPointer"> *@
@*                     <h2 class="plusCardContent">+</h2> *@
@*                 </div> *@
@*             </div> *@
@*              *@
@*         </div> *@
@*     </div> *@
@*      *@
@*     <div class="container6"> *@
@*         <h1 class="fw-normal fs-2 text-center">Взятые в очередь тикеты</h1> *@
@* *@
@*         <div class="angelTicketsContainer"> *@
@* *@
@*             <div class="angelsCardsMargin"> *@
@*                 <div class="angelsCardContainer"> *@
@*                     <div class="angelsCardContent"> *@
@*                         <h2 class="checkboxCardNumber">#1</h2> *@
@*                         <div class="lines"> *@
@*                             <div class="line full"></div> *@
@*                             <div class="line half"></div> *@
@*                             <div class="line half"></div> *@
@*                         </div> *@
@* *@
@*                         <img class="delete" src="images/крестик.jpg" alt="del"> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <div class="angelsCardsMargin"> *@
@*                 <div class="angelsCardContainer"> *@
@*                     <div class="angelsCardContent"> *@
@*                         <h2 class="checkboxCardNumber">#1</h2> *@
@*                         <div class="lines"> *@
@*                             <div class="line full"></div> *@
@*                             <div class="line half"></div> *@
@*                             <div class="line half"></div> *@
@*                         </div> *@
@* *@
@*                         <img class="delete" src="images/крестик.jpg" alt="del"> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <div class="angelsCardsMargin"> *@
@*                 <div class="angelsCardContainer"> *@
@*                     <div class="angelsCardContent"> *@
@*                         <h2 class="checkboxCardNumber">#1</h2> *@
@*                         <div class="lines"> *@
@*                             <div class="line full"></div> *@
@*                             <div class="line half"></div> *@
@*                             <div class="line half"></div> *@
@*                         </div> *@
@* *@
@*                         <img class="delete" src="images/крестик.jpg" alt="del"> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <div class="angelsCardsMargin"> *@
@*                 <div class="angelsCardContainer"> *@
@*                     <div class="angelsCardContent"> *@
@*                         <h2 class="checkboxCardNumber">#1</h2> *@
@*                         <div class="lines"> *@
@*                             <div class="line full"></div> *@
@*                             <div class="line half"></div> *@
@*                             <div class="line half"></div> *@
@*                         </div> *@
@* *@
@*                         <img class="delete" src="images/крестик.jpg" alt="del"> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <div class="angelsCardsMargin"> *@
@*                 <div class="angelsCardContainer paddingNone cursorPointer"> *@
@*                     <h2 class="plusCardContent">+</h2> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*         </div> *@
@*     </div> *@
@* </div> *@