@page
@model WebApp.Pages.CommandEditor

@{
    ViewData["Title"] = "Command Editor Page";
}

<div class="commandEditorContainer centered-50">
    <div class="commandEditorSWindow commandEditorWindowsHeight commandEditorBorderStyle commandEditorBorderWidth commandEditorBorderRadius">
        <div class="commandEditorHeaders text-center">
            <p class="fs-6">Ожидают</p>
        </div>

        <div class="commandEditorNamesContainer text-center">
            <p class="fs-6">Артём</p>
            <p class="fs-6">Вова</p>
            <p class="fs-6">Софа</p>
            <p class="fs-6">Эрик</p>
        </div>
        
        <button class="commandEditorRandomButton authorizationButton">Распределить случайно</button>
    </div>
    
    <div class="commandEditorLWindow commandEditorWindowsHeight commandEditorBorderStyle commandEditorBorderWidth commandEditorBorderRadius">
        <div class="commandEditorCommandContainer commandEditorBorderRadius">
            <div class="commandEditorHeaders text-center">
                <p class="fs-6">Команда 1</p>
            </div>
            
            <div class="commandEditorNamesContainer text-center">
                <p class="fs-6">Дима</p>
                <p class="fs-6">Алтынгуль</p>
                <p class="fs-6">Илья</p>
                <p class="fs-6">Алина</p>
            </div>
        </div>

        <div class="commandEditorCommandContainer commandEditorBorderRadius">
            <div class="commandEditorHeaders text-center">
                <p class="fs-6">Команда 2</p>
            </div>

            <div class="commandEditorNamesContainer text-center">
                <p class="fs-6">Дима</p>
                <p class="fs-6">Алтынгуль</p>
                <p class="fs-6">Илья</p>
                <p class="fs-6">Алина</p>
            </div>
        </div>

        <div class="commandEditorCommandContainer commandEditorBorderRadius">
            <div class="commandEditorHeaders text-center">
                <p class="fs-6">Команда 3</p>
            </div>

            <div class="commandEditorNamesContainer text-center">
                <p class="fs-6">Дима</p>
                <p class="fs-6">Алтынгуль</p>
                <p class="fs-6">Илья</p>
                <p class="fs-6">Алина</p>
            </div>
        </div>

        <div class="commandEditorCommandContainer commandEditorBorderRadius">
            <div class="commandEditorHeaders text-center">
                <p class="fs-6">Команда 4</p>
            </div>

            <div class="commandEditorNamesContainer text-center">
                <p class="fs-6">Дима</p>
                <p class="fs-6">Алтынгуль</p>
                <p class="fs-6">Илья</p>
                <p class="fs-6">Алина</p>
            </div>
        </div>
    </div>
    
    <div class="commandEditorSWindow commandEditorWindowsHeight commandEditorBorderStyle commandEditorBorderWidth commandEditorBorderRadius">
        <div class="commandEditorHeaders text-center">
            <p class="fs-6">Поддержка</p>
        </div>
        
        <div class="commandEditorNamesContainer text-center">
            <p class="fs-6">Артём</p>
            <p class="fs-6">Вова</p>
            <p class="fs-6">Софа</p>
            <p class="fs-6">Эрик</p>
        </div>
    </div>
</div>