@page
@model Home

@{
    ViewData["Title"] = "Home page";
}


<div class="text-center authorizationContainer centered-100">
    <div class="authorizationHeader">
        <h1 class="display-3">getKanban</h1>
    </div>

    <div class="authorizationButtons">
        @* <input type="text" class="text-center authorizationButtonsTemplate authorizationCommandName"/> *@

        @* asp-controller="TeamsCreation" asp-action="Menu" *@
        <form>
            <button class="authorizationButtonsTemplate authorizationButton" asp-area="" asp-page="/Shared/Menu">Создать игру</button>
        </form>

        <form>
            @* asp-controller="JoinGame" asp-action="JoinGame" *@
            <button class="authorizationButtonsTemplate authorizationButton" asp-area="" asp-page="/Shared/JoinGame">Присоединиться к игре</button>
        </form>
    </div>
</div>