@page
@model Home

@{
    ViewData["Title"] = "Home page";
}


<div class="text-center authorizationContainer centered-100">
    <div class="authorizationHeader">
        <h1 class="display-3">getKanban</h1>
    </div>

    <div class="authorizationButtons">
        <input type="text" class="text-center authorizationButtonsTemplate authorizationCommandName"/>

        <button class="authorizationButtonsTemplate authorizationButton" asp-area="" asp-controller="TeamsCreation" asp-action="Menu">Создать игру</button>

        <button class="authorizationButtonsTemplate authorizationButton" asp-area="" asp-controller="JoinGame" asp-action="JoinGame">Присоединиться к игре</button>
    </div>
</div>