@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* Authorization container *@
<div class="text-center authorizationContainer centered-100">
    
    @* Authorization header container *@
    <div class="authorizationHeader">
        
        @* Authorization header *@
        <h1 class="display-3">getKanban</h1>
    </div>

    @* Authorization buttons container*@
    <div class="authorizationButtons">
        
        @* Input your name *@
        <input type="text" class="text-center authorizationButtonsTemplate authorizationCommandName"/>

        @* Game create button *@
        <form>
            <button class="authorizationButtonsTemplate authorizationButton" asp-area="" asp-page="/Shared/Menu">Создать игру</button>
        </form>

        @* Game join button *@
        <form>
            @* asp-controller="JoinGame" asp-action="JoinGame" *@
            <button class="authorizationButtonsTemplate authorizationButton" asp-area="" asp-page="/Shared/JoinTeamSession">Присоединиться к игре</button>
        </form>
    </div>
</div>