@page
@model Step4Stage1SingleVersion

@{
    ViewData["Title"] = "Single Version";
}

<div class="container1">
    <h1 class="title">Выберите тикеты, которые были сегодня поставлены</h1>
    <hr class="divider">
    <div class="container2">
        <div class="checkboxSingleVersion padding-hrz-30">
            <h1 class="title">Обычные</h1>
            <hr class="divider">
            <div class="checkboxCardsMargin">
                <input type="checkbox" class="checkboxCardInput" id="checkbox1">
                <label for="checkbox1" class="checkboxCardContainer checkboxCardStyle1 cursorPointer">
                    <div class="checkboxCardContent">
                        <h2 class="checkboxCardNumber">S07</h2>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </label>
            </div>

            <div class="checkboxCardsMargin">
                <input type="checkbox" class="checkboxCardInput" id="checkbox2">
                <label for="checkbox2" class="checkboxCardContainer checkboxCardStyle1 cursorPointer">
                    <div class="checkboxCardContent">
                        <h2 class="checkboxCardNumber">S08</h2>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </label>
            </div>

            <div class="checkboxCardsMargin">
                <input type="checkbox" class="checkboxCardInput" id="checkbox3">
                <label for="checkbox3" class="checkboxCardContainer checkboxCardStyle1 cursorPointer">
                    <div class="checkboxCardContent">
                        <h2 class="checkboxCardNumber">S09</h2>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </label>
            </div>

            <div class="checkboxCardsMargin">
                <input type="checkbox" class="checkboxCardInput" id="checkbox4">
                <label for="checkbox4" class="checkboxCardContainer checkboxCardStyle1 cursorPointer">
                    <div class="checkboxCardContent">
                        <h2 class="checkboxCardNumber">S10</h2>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </label>
            </div>

            <div class="checkboxCardsMargin">
                <input type="checkbox" class="checkboxCardInput" id="checkbox5">
                <label for="checkbox5" class="checkboxCardContainer checkboxCardStyle1 cursorPointer">
                    <div class="checkboxCardContent">
                        <h2 class="checkboxCardNumber">S11</h2>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>