<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/commandEditor.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/popup.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/game.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/gameStepPages.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/checkboxPages.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/rolesEditorPages.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/step2.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/step6.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/helpers.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/finalResultPage.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/winner.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/diceRollingAnimation.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/stilization.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/confirmPopup.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true"/>
</head>
<body>

<div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<div class="notification-container"></div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/drag-and-drop.js" asp-append-version="true"></script>
<script src="~/js/page-switch.js" asp-append-version="true"></script>
<script src="~/js/setup-hub-connection.js" asp-append-version="true"></script>
<script src="~/js/popup.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>