@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<script>
    
</script>
<html>
<body>
<div>
    <form>
        <button asp-area="" asp-controller="TeamsCreation" asp-action="Menu">Создание команд</button>
    </form>
</div>
<div>
    <form>
        <button asp-area="" asp-controller="JoinGame" asp-action="JoinGame">Присоединиться к игре</button>
    </form>
</div>
</body>
</html>