@page
@model Step1_2PageTemplate

@{
    ViewData["Title"] = "Step1.2";
}

<div class="table-container">
    <table>
        <thead>
        <tr>
            <th class="height-extra-small fs-5">За аналитиков</th>
            <th class="height-extra-small fs-5">За разработчиков</th>
            <th class="height-extra-small fs-5">За тестировщиков</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="dropzone">
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Аналитик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Аналитик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="dropzone">
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Разработчик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Разработчик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Разработчик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="dropzone">
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Тестировщик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Тестировщик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Тестировщик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

