<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>
    async function createGameSession() {
        const sessionName = document.getElementById("sessionName").value;
        const teamsCount = parseInt(document.getElementById("teamsCount").value);
        const adminName = document.getElementById("adminName").value;
        if (teamsCount > 0) {
            const hubConnection = new signalR.HubConnectionBuilder().withUrl("/lobbyHub").build();
            hubConnection.start()
                .then(function (){
                    hubConnection.invoke("Create", sessionName, teamsCount, adminName);
                    hubConnection.on("Created", async function (dto) {
                        const sessionId = (await JSON.parse(dto))["Id"];
                        const inviteCode = (await JSON.parse(dto))["Angels"]["InviteCode"];
                        const angelsTeamId = inviteCode.substring(inviteCode.indexOf("#") + 1);

                        if (sessionId != null) {
                            window.location.href = `http://localhost:5046/session?sessionId=${sessionId}&teamId=${angelsTeamId}`;
                        } else {
                            @* error *@
                        }
                    })
                });
        }
    }
</script>

<div class="text-center authorizationContainer centered-100">
    <div class="authorizationHeader">
        <h1 class="fs-2 fw-normal">Создание игры</h1>
    </div>
    
    <div class="authorizationButtons">
        <input type="number" class="text-center authorizationButtonsTemplate authorizationCommandName" id="teamsCount" placeholder="Число команд">
        <input type="text" class="text-center authorizationButtonsTemplate authorizationCommandName" id="sessionName" placeholder="Название игры">
        <input type="text" class="text-center authorizationButtonsTemplate authorizationCommandName" id="adminName" placeholder="Ваше имя">
        <button class="authorizationButtonsTemplate authorizationButton" onclick="createGameSession()">Создать игру</button>
    </div>
</div>
