@page
<script>
    async function join() {
        const id = document.getElementById("gameId").value;
        if (id.length > 0) {
            const isGameOpened = await fetch('http://localhost:5000/join/game?id=' + id, { });
            if (isGameOpened) {
                window.location.replace('http://localhost:5000/lobby?id=' + id);
            } else {
                @* отрисовка блока с ошибкой *@
            }
        }
    }
</script>

<div class="text-center authorizationContainer centered-100">
    <div class="authorizationHeader">
        <h1 class="fs-2 fw-normal">ID сессии</h1>
    </div>
    
    <div class="authorizationButtons">
        <input type="text" id="gameId" class="text-center authorizationButtonsTemplate authorizationCommandName">
        @* <div> *@
        @*     <p>Teams:</p> *@
        @*     <p id="teamsValue"></p> *@
        @*     <button onclick="addTeam()">Добавить команду</button> *@
        @* </div> *@
        <form>
            <button onclick="join()" class="authorizationButtonsTemplate authorizationButton">Присоединиться</button>
        </form>
    </div>
</div>