@page
<head>
    <script type="module" src="/js/lobbyPlayerAdding.js"></script>
</head>

<div class="text-center authorizationContainer centered-100">
    <div class="authorizationHeader">
        <h1 class="fs-2 fw-normal">ID сессии</h1>
    </div>
    
    <div class="authorizationButtons">
        <input type="text" id="userName" class="text-center authorizationButtonsTemplate authorizationCommandName">
        <input type="text" id="sessionId" class="text-center authorizationButtonsTemplate authorizationCommandName">
        <button class="authorizationButtonsTemplate authorizationButton" id="join">Присоединиться</button>
    </div>
</div>