<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>
    async function joinSession() {
        const userName = document.getElementById("userName").value;
        const inviteCode = document.getElementById("sessionId").value.toString();
        
        const connection = new signalR.HubConnectionBuilder().withUrl("/lobbyHub").build();
        const isGameOpened = await fetch(`http://localhost:5046/session/check?sessionId=${sessionId}`);
        if ((await isGameOpened.text()) === 'true') {
            connection.start()
                .then(async function (){
                    connection.invoke("Join", inviteCode, userName)
                        .then(function () {
                            window.location.href = `http://localhost:5046/session?sessionId=${sessionId}&teamId=${teamId}`
                        });
                });
        } 
    }
</script>

<div class="text-center authorizationContainer centered-100">
    <div class="authorizationHeader">
        <h1 class="fs-2 fw-normal">Присоединиться к игре</h1>
    </div>

    <div class="authorizationButtons">
        <input type="text" id="userName" class="text-center authorizationButtonsTemplate authorizationCommandName" placeholder="Ваше имя">
        <input type="text" id="sessionId" class="text-center authorizationButtonsTemplate authorizationCommandName" placeholder="Код приглашения">
        <button class="authorizationButtonsTemplate authorizationButton" onclick="joinSession()">Присоединиться</button>
    </div>
</div>