@page
@* <script> *@
@*     function addTeam() { *@
@*         const teamName = document.getElementById("teamName").value; *@
@*         if (teamName.length > 0) { *@
@*             const currText = document.getElementById("teamsValue").innerText; *@
@*             document.getElementById("teamsValue").innerText = currText + (currText.length === 0 ? '' : '\n') + teamName; *@
@*             document.getElementById("teamName").value = null; *@
@*         } *@
@*     } *@
@* </script> *@

<div class="text-center authorizationContainer centered-100">
    <div class="authorizationHeader">
        <h1 class="fs-2 fw-normal">Введите количество команд</h1>
    </div>
    
    <div class="authorizationButtons">
        <input type="number" class="text-center authorizationButtonsTemplate authorizationCommandName" id="teamName">
        @* <div> *@
        @*     <p>Teams:</p> *@
        @*     <p id="teamsValue"></p> *@
        @*     <button onclick="addTeam()">Добавить команду</button> *@
        @* </div> *@
        <form>
            <button class="authorizationButtonsTemplate authorizationButton" asp-area="" asp-page="/CommandEditor">Далее</button>
        </form>
    </div>
</div>
