@page
<script>
    async function createGameSession() {
        const sessionName = document.getElementById("sessionName").value;
        const teamsCount = document.getElementById("teamsCount").value;
        if (parseInt(teamsCount) > 0) {
            let promise = fetch(`http://localhost:5046/session/create?teamsCount=${teamsCount}&sessionName=${sessionName}`, {userId: 'include'});
            await promise
                .then(async result => {
                    const responseText = await result.text();
                    const sessionId = responseText.substring(1, responseText.length - 1);
                    
                    if (sessionId != null) {
                        window.location.href = `http://localhost:5046/lobby?sessionId=${sessionId}`;
                    } else {
                        @* error *@
                    }
                });
        }
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/lobbyHub")
        .build();
        
    hubConnection.start()
        .then( function (){
            hubConnection.invoke("Create", "game", 1);
            hubConnection.on("Created", function (dto) {
                console.log(dto);
            })
        });    

</script>

<div class="text-center authorizationContainer centered-100">
    <div class="authorizationHeader">
        <h1 class="fs-2 fw-normal">Введите количество команд и название игры</h1>
    </div>
    
    <div class="authorizationButtons">
        <input type="number" class="text-center authorizationButtonsTemplate authorizationCommandName" id="teamsCount">
        <input type="text" class="text-center authorizationButtonsTemplate authorizationCommandName" id="sessionName">
        <button class="authorizationButtonsTemplate authorizationButton" onclick="createGameSession()">Создать игру</button>
    </div>
</div>
