@* @page *@
@* @model Step1_2PageTemplate *@
@* *@
@* @{ *@
@*     ViewData["Title"] = "Step1.2"; *@
@* } *@
<meta charset="UTF-8">
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th class="height-extra-small fs-5">За аналитиков</th>
            <th class="height-extra-small fs-5">За разработчиков</th>
            <th class="height-extra-small fs-5">За тестировщиков</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="dropzone">
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Аналитик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Аналитик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="dropzone">
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Разработчик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Разработчик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Разработчик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="dropzone">
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Тестировщик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Тестировщик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
                <div class="draggable" draggable="true">
                    <div class="textContainer">
                        <div class="text fs-6 fw-bolder">Тестировщик</div>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<button class="stepControlButtons position-relative rightButton" id="roll">
    <p class="fs-6">Бросить кубики</p>
</button>

<script>
    document.getElementById("roll").addEventListener('click', function () {
        const result = [];
        const analysts = document.getElementsByClassName("dropzone")[0];
        const analystsRoles = analysts.getElementsByClassName("text");
        for (let role of analystsRoles) {
            result.push([translateRole(role.innerText), "Analyst"]);
        }
        
        const programmers = document.getElementsByClassName("dropzone")[1];
        const programmersRoles = programmers.getElementsByClassName("text");
        for (let role of programmersRoles) {
            result.push([translateRole(role.innerText), "Developer"]);
        }
        
        const testers = document.getElementsByClassName("dropzone")[2];
        const testersRoles = testers.getElementsByClassName("text");
        for (let role of testersRoles) {
            result.push([role.innerText, "Tester"]);
        }
        //
        //JSON.stringify(result).replace("\\", "");
        fetch("/step/save-roles-transformation", {
            method: 'POST',
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(result)
        }).then(function () {window.location.href = `/step/2`});
        
        function translateRole(role) {
            return role === "Аналитик"
                ? "Analyst"
                : role === "Разработчик"
                    ? "Developer"
                    : role === "Тестировщик"
                        ? "Tester"
                        : null;
        }
        
        
    });
</script>
