@* @page *@
@* @model Step4PageTemplate *@
@* *@
@* @{ *@
@*     ViewData["Title"] = "Step4"; *@
@* } *@

<div class="container1">
    <h1 class="title">Проверьте корректность заполнения.
        Если вы ошиблись, вернитесь назад и скорректируйте выбор.</h1>
    <hr class="divider">
    <div class="container2">

        <input type="checkbox" class="checkboxCardInput" id="checkbox1">
        <label for="checkbox1" class="checkboxCardContainer">
            <div class="checkboxCardContent">
                <h2 class="checkboxCardNumber">S01</h2>
                <div class="lines">
                    <div class="line full"></div>
                    <div class="line half"></div>
                    <div class="line half"></div>
                </div>
            </div>
        </label>

        <div>
            <input type="checkbox" class="checkboxCardInput" id="checkbox2">
            <label for="checkbox2" class="checkboxCardContainer">
                <div class="checkboxCardContent">
                    <h2 class="checkboxCardNumber">S01</h2>
                    <div class="lines">
                        <div class="line full"></div>
                        <div class="line half"></div>
                        <div class="line half"></div>
                    </div>
                </div>
            </label>
        </div>

        <div>
            <input type="checkbox" class="checkboxCardInput" id="checkbox3">
            <label for="checkbox3" class="checkboxCardContainer">
                <div class="checkboxCardContent">
                    <h2 class="checkboxCardNumber">S01</h2>
                    <div class="lines">
                        <div class="line full"></div>
                        <div class="line half"></div>
                        <div class="line half"></div>
                    </div>
                </div>
            </label>
        </div>

        <div>
            <input type="checkbox" class="checkboxCardInput" id="checkbox4">
            <label for="checkbox4" class="checkboxCardContainer">
                <div class="checkboxCardContent">
                    <h2 class="checkboxCardNumber">S01</h2>
                    <div class="lines">
                        <div class="line full"></div>
                        <div class="line half"></div>
                        <div class="line half"></div>
                    </div>
                </div>
            </label>
        </div>

        <div>
            <input type="checkbox" class="checkboxCardInput" id="checkbox5">
            <label for="checkbox5" class="checkboxCardContainer">
                <div class="checkboxCardContent">
                    <h2 class="checkboxCardNumber">S01</h2>
                    <div class="lines">
                        <div class="line full"></div>
                        <div class="line half"></div>
                        <div class="line half"></div>
                    </div>
                </div>
            </label>
        </div>
    </div>

    <button class="stepControlButtons rightButton" id="prev">
        Назад
    </button>

    <button class="stepControlButtons rightButton" id="next">
        Далее
    </button>
</div>

<script>
    document.getElementById("prev").addEventListener('click', function () {
        window.location.href = `http://localhost:5046/step/4/1`
    });
    document.getElementById("next").addEventListener('click', function () {
        window.location.href = `http://localhost:5046/step/5`
    });
</script>