@model WebApp.Models.DayStepModels.StepModel

<div class="stepHeader">
    <h1 class="fs-1 fw- text-center">Команда @Html.Raw(Model.TeamName). День @Model.DayNumber</h1>
</div>

<div class="infoContainer height-large centered-100">
    <h1 class="fs-4 text-center">
        Петя
    </h1>

    <button class="stepControlButtons rightButton" id="roll">
        Кинуть за петю
    </button>
</div>

<script src="~/js/page-switch.js"></script>
<script src="~/js/setup-hub-connection.js"></script>
<script>
    document.getElementById('roll').addEventListener('click', function () {
        fetch(`/@Model.GameSessionId/@Model.TeamId/step/another-team-roll`, {
            method: 'POST',
            headers: {"Content-Type": "application/json"}
        })
        .then(function () {
            window.location.href = `/@Model.GameSessionId/@Model.TeamId/step/1/0`
        });
    });
</script>
