@model (Guid currentSessionId, List<string> ticketIds)

<div class="container1">
    <h1 class="title">Проверьте корректность заполнения.
        Если вы ошиблись, вернитесь назад и скорректируйте выбор.</h1>
    <hr class="divider">
    <div class="container2">
        @foreach (var ticketId in Model.ticketIds)
        {
            <div>
                <input type="checkbox" class="checkboxCardInput" id="checkbox2">
                <label for="checkbox2" class="checkboxCardContainer">
                    <div class="checkboxCardContent">
                        <h2 class="checkboxCardNumber">@ticketId</h2>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </label>
            </div>
        }
    </div>
    
    <button class="stepControlButtons rightButton" id="prev">
        Назад
    </button>

    <button class="stepControlButtons rightButton" id="next">
        Далее
    </button>
</div>

<script src="/js/signalr/dist/browser/signalr.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder().withUrl("/lobbyHub").build();
    connection.start()
        .then(function () {
            connection.invoke("Join", "@Model.currentSessionId");
        });
    connection.on("NotifyPageChange", function (page, stage) {
        window.location.href = `/step/${page}/${stage}`;
    });
    document.getElementById("prev").addEventListener('click', function () {
        connection.invoke("ChangePage", "@Model.currentSessionId", 5, 1)
            .then(function () {
                window.location.href = `/step/5/1`;
            });
    });
    document.getElementById("next").addEventListener('click', function () {
        connection.invoke("ChangePage", "@Model.currentSessionId", 6, 0)
            .then(function () {
                window.location.href = `/step/6`;
            });
    });
</script>