@model (Guid? sessionId, int dayNumber)

<div class="stepHeader">
    <h1 class="fs-1 fw-bold text-center">Команда pipipupu. День @Model.dayNumber</h1>
</div>

<div class="container-1 height-small centered-100">
    <div class="infoContainer height-small">
        <div class="info centered-50">
            <p class="fs-5 fw-normal">Хотите изменить распределение членов команды по функциям?</p>
        </div>
    </div>

    <button class="stepControlButtons position-relative leftButton" id="roll">
        <p class="fs-6">Нет, бросить кубик</p>
    </button>

    <button class="stepControlButtons position-relative rightButton" id="change">
        <p class="fs-6">Изменить</p>
    </button>
</div>

<script src="/js/signalr/dist/browser/signalr.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder().withUrl("/lobbyHub").build();
    connection.start();
    connection.on("NotifyPageChange", function (page, stage) {
        window.location.href = `/step/${page}/${stage}`;
    });

    document.getElementById("roll").addEventListener('click', function () {
        connection.invoke("ChangePage", "@Model.sessionId", 2, 0)
            .then(function () {
                window.location.href = "/step/2";
            });
    });

    document.getElementById("change").addEventListener('click', function () {
        connection.invoke("ChangePage", "@Model.sessionId", 1, 2)
            .then(function () {
                window.location.href = "/step/1/2";
            });
    });
</script>
