@model Core.Dtos.CfdGraphDto

<p>@string.Join(" ", Model.DaysToShow)</p>
<p>@string.Join(" ", Model.TotalTasksToShow)</p>
@foreach (var pair in Model.GraphPointsPerLabel)
{
    <p>@pair.Key - - - @string.Join(" ", pair.Value)</p>
}