@model WebApp.Controllers.DayStepsController.StepModel

<div class="stepHeader">
    <h1 class="fs-1 fw- text-center">Команда @Html.Raw(Model.TeamName). День @Model.DayNumber</h1>
</div>

<div class="container-1 height-small centered-100">
    <div class="infoContainer height-small">
        <div class="info centered-50">
            <p class="fs-5 fw-normal">Хотите изменить распределение членов команды по функциям?</p>
        </div>
    </div>

    <button class="stepControlButtons position-relative leftButton" id="roll">
        <p class="fs-6">Нет, бросить кубик</p>
    </button>

    <button class="stepControlButtons position-relative rightButton" id="change">
        <p class="fs-6">Изменить</p>
    </button>
</div>

<script src="~/js/page-switch.js"></script>
<script src="~/js/setup-hub-connection.js"></script>
<script src="/js/signalr/dist/browser/signalr.js"></script>
<script>
    const connection = setupHubConnection(new signalR.HubConnectionBuilder());
    setSwitchEvent("roll", connection, "@Model.TeamId", 2, 0);
    setSwitchEvent("change", connection, "@Model.TeamId", 1, 2);
</script>
