@model WebApp.Models.DayFullIdDto

<div class="stepHeader">
    <h1 class="fs-1 fw- text-center">Команда pipipupu. День @Model.dayNumber</h1>
</div>

<div class="infoContainer height-large centered-100">
    <h1 class="fs-4 text-center">
        Пополняемся
    </h1>
    
    <div class="info height-small centered-100">
        <p class="fs-5 fw-normal">Пополните колонку "Очередь" тикетами из бэклога на ваш выбор ровно до WIP (делаем это единоразово).</p>
        <p class="fs-5 fw-normal">Для этих тикетов обновите поле "День взятия в очередь".</p>
    </div>
</div>

<button class="stepControlButtons rightButton" id="next">
    Далее
</button>

<script src="/js/signalr/dist/browser/signalr.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder().withUrl("/lobbyHub").build();
    connection.start()
        .then(function () {
            connection.invoke("Join", "@Model.sessionId");
        });
    connection.on("NotifyPageChange", function (page, stage) {
        window.location.href = `/step/${page}/${stage}`;
    });
    document.getElementById("next").addEventListener('click', function () {
        connection.invoke("ChangePage", "@Model.sessionId", 5, 1)
            .then(function () {
                window.location.href = `/step/5/1`;
            });
    });
</script>