@page
@model FinalResultTemplate

@{
    ViewData["Title"] = "Final result";
}

<div class="scrollable-container">
    <div class="finishDayResult dayLineStyle text-center">
        <h1 class="fs-6">День 11</h1>
    </div>

    <div class="finishDayResultContainer">
        <div class="finishDayResult">
            <p class="fs-6">Client: 31</p>
        </div>

        <div class="finishDayResult monetChangeLineStyle">
            <p class="fs-6">Money per client: 20$</p>
        </div>

        <div class="finishDayResult">
            <p class="fs-6">Money: 259$</p>
        </div>
    </div>

    <div class="finishDayResult dayLineStyle text-center">
        <h1 class="fs-6">День 10</h1>
    </div>

    <div class="finishDayResultContainer">
        <div class="finishDayResult">
            <p class="fs-6">Client: 25</p>
        </div>

        <div class="finishDayResult monetChangeLineStyle">
            <p class="fs-6">Money per client: 20$</p>
        </div>

        <div class="finishDayResult">
            <p class="fs-6">Money: 117$</p>
        </div>
    </div>

    <div class="finishDayResult dayLineStyle text-center">
        <h1 class="fs-6">День 9</h1>
    </div>

    <div class="finishDayResultContainer">
        <div class="finishDayResult">
            <p class="fs-6">Client: 19</p>
        </div>

        <div class="finishDayResult monetChangeLineStyle">
            <p class="fs-6">Money per client: 15$ -> 20$</p>
        </div>

        <div class="finishDayResult">
            <p class="fs-6">Money: 76$</p>
        </div>
    </div>

</div>