@page
@model WinnersPage

@{
    ViewData["Title"] = "Winners";
}

<div class="container7">

    <div class="finalCommandContainer">
        <div class="finalCommandResult"></div>
        <div class="finalCommand finalClientWinnerStyle">
            <h class="fs-5 fw-bold text-center">Малиновое варенье</h>
            <h class="fs-6 fw-normal text-center">Клиенты: 563</h>
            <h class="fs-6 fw-normal text-center">Деньги: 20$</h>
        </div>
    </div>

    <div class="finalCommandContainer">
        <div class="finalCommandResult"></div>
        <div class="finalCommand finalMoneyWinnerStyle">
            <h class="fs-5 fw-bold text-center">Малиновое варенье</h>
            <h class="fs-6 fw-normal text-center">Клиенты: 0</h>
            <h class="fs-6 fw-normal text-center">Деньги: 500$</h>
        </div>
    </div>

    <div class="finalCommandContainer">
        <div class="finalCommandResult"></div>
        <div class="finalCommand finalMegaWinner">
            <h class="fs-5 fw-bold text-center">Малиновое варенье</h>
            <h class="fs-6 fw-normal text-center">Клиенты: 2</h>
            <h class="fs-6 fw-normal text-center">Деньги: 50$</h>
        </div>
    </div>

    <div class="finalCommandContainer">
        <div class="finalCommandResult"></div>
        <div class="finalCommand finalLooserStyle">
            <h class="fs-5 fw-bold text-center">Малиновое варенье</h>
            <h class="fs-6 fw-normal text-center">Клиенты: 4</h>
            <h class="fs-6 fw-normal text-center">Деньги: 500$</h>
        </div>
    </div>

    <div class="finalCommandContainer">
        <div class="finalCommandResult"></div>
        <div class="finalCommand finalLooserStyle">
            <h class="fs-5 fw-bold text-center">Малиновое варенье</h>
            <h class="fs-6 fw-normal text-center">Клиенты: 92</h>
            <h class="fs-6 fw-normal text-center">Деньги: 50$</h>
        </div>
    </div>
</div>