<script src="/js/signalr/dist/browser/signalr.js"></script>
<script>
    async function createGameSession() {
        const sessionName = document.getElementById("sessionName").value;
        const teamsCount = parseInt(document.getElementById("teamsCount").value);
        if (teamsCount <= 0) {
            return;
        }
        const hubConnection = new signalR.HubConnectionBuilder().withUrl("/lobbyHub").build();
        hubConnection.start()
            .then(function (){
                hubConnection.invoke("Create", sessionName, teamsCount);
                hubConnection.on("Created", async function (dto) {
                    const sessionId = (await JSON.parse(dto))["Id"];
                    const inviteCode = (await JSON.parse(dto))["Angels"]["Participants"]["InviteCode"].toString();
                    if (sessionId != null) {
                        window.location.href = `/session?invite=${inviteCode}`;
                    }
                })
            });
    }
</script>

<div class="text-center authorizationContainer centered-100">
    <div class="authorizationHeader">
        <h1 class="fs-2 fw-normal">Создание игры</h1>
    </div>

    <div class="authorizationButtons">
        <input type="number" class="text-center authorizationButtonsTemplate authorizationCommandName" id="teamsCount" placeholder="Число команд">
        <input type="text" class="text-center authorizationButtonsTemplate authorizationCommandName" id="sessionName" placeholder="Название игры">
        <button class="authorizationButtonsTemplate authorizationButton" onclick="createGameSession()">Создать игру</button>
    </div>
</div>