<div class="text-center authorizationContainer centered-100">
    <div class="authorizationHeader">
        <h1 class="fs-2 fw-normal">Создание игры</h1>
    </div>

    <div class="authorizationButtons">
        <input type="text" onkeypress="return imposeMinMax(event)" class="text-center authorizationButtonsTemplate authorizationCommandName" id="teamsCount" placeholder="Число команд">
        <input type="text" class="text-center authorizationButtonsTemplate authorizationCommandName" id="sessionName" placeholder="Название игры">
        <button class="authorizationButtonsTemplate authorizationButton" onclick="createGameSession()">Создать игру</button>
    </div>
</div>

<script src="~/js/fetchJSON.js"></script>
<script src="/js/signalr/dist/browser/signalr.js"></script>
<script>
    function imposeMinMax(evt){
        evt = (evt) ? evt : window.event;
        let charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 49 || charCode > 56)) {
            return false;
        }
        document.getElementById("teamsCount").value = ``;
        return true;
    }
    
    async function createGameSession() {
        const teamsCountString = document.getElementById("teamsCount").value
        if (teamsCountString.length === 0) {
            showMessage("Число команд должно быть заполнено", MessageType.ERROR);
            return;
        }
        const teamsCount = parseInt(teamsCountString);
        if (teamsCount <= 0) {
            showMessage("Число команд должно быть положительным", MessageType.ERROR);
            return;
        }
        const sessionName = document.getElementById("sessionName").value;
        if (sessionName.length === 0) {
            showMessage("Название игры должно быть заполнено", MessageType.ERROR);
            return;
        }
        
        const sessionId = await fetchJSON(`/session/create-session?sessionName=${sessionName}&teamsCount=${teamsCount}`);
        window.location.href = `/session/${sessionId}`
    }
</script>