<script src="/js/signalr/dist/browser/signalr.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder().withUrl("/lobbyHub").build();
    hubConnection.on("Created", inviteCode =>
        window.location.href = `/session?invite=${inviteCode}`
    );
    hubConnection.start();
    
    async function createGameSession() {
        const sessionName = document.getElementById("sessionName").value;
        const teamsCount = parseInt(document.getElementById("teamsCount").value);
        if (teamsCount > 0) {
            fetch(`/session/create-session?sessionName=${sessionName}&teamsCount=${teamsCount}`)
                .then(sessionId => sessionId.json()
                    .then(sessionId => {
                        window.location.href = `/session/get/${sessionId}`
                    }
                )
            );
        }
    }
</script>

<div class="text-center authorizationContainer centered-100">
    <div class="authorizationHeader">
        <h1 class="fs-2 fw-normal">Создание игры</h1>
    </div>

    <div class="authorizationButtons">
        <input type="number" class="text-center authorizationButtonsTemplate authorizationCommandName" id="teamsCount" placeholder="Число команд">
        <input type="text" class="text-center authorizationButtonsTemplate authorizationCommandName" id="sessionName" placeholder="Название игры">
        <button class="authorizationButtonsTemplate authorizationButton" onclick="createGameSession()">Создать игру</button>
    </div>
</div>