<script src="/js/error.js"></script>
<script src="/js/signalr/dist/browser/signalr.js"></script>
<script>
    async function createGameSession() {
        const teamsCountString = document.getElementById("teamsCount").value
        if (teamsCountString.length === 0) {
            showMessage("Число команд должно быть заполнено");
            return;
        }
        const teamsCount = parseInt(teamsCountString);
        if (teamsCount <= 0) {
            showMessage("Число команд должно быть положительным");
            return;
        }
        const sessionName = document.getElementById("sessionName").value;
        if (sessionName.length === 0) {
            showMessage("Название игры должно быть заполнено");
            return;
        }
        
        fetch(`/session/create-session?sessionName=${sessionName}&teamsCount=${teamsCount}`)
            .then(sessionId => sessionId.json())
            .then(sessionId => {
                window.location.href = `/session/${sessionId}`
            });
    }
</script>

<div class="text-center authorizationContainer centered-100">
    <div class="authorizationHeader">
        <h1 class="fs-2 fw-normal">Создание игры</h1>
    </div>

    <div class="authorizationButtons">
        <input type="number" min="1" class="text-center authorizationButtonsTemplate authorizationCommandName" id="teamsCount" placeholder="Число команд">
        <input type="text" class="text-center authorizationButtonsTemplate authorizationCommandName" id="sessionName" placeholder="Название игры">
        <button class="authorizationButtonsTemplate authorizationButton" onclick="createGameSession()">Создать игру</button>
    </div>
</div>