<script src="/js/fetchJSON.js"></script>
<script src="/js/signalr/dist/browser/signalr.js"></script>
<script>
    async function joinSession() {
        const inviteCode = document.getElementById("inviteCode").value.toString();
        if (inviteCode.length === 0) {
            showMessage("Код приглашения должен быть заполнен", MessageType.ERROR);
            return;
        }
        
        const sessionId = await fetchJSON(`/session/join?inviteCode=${inviteCode}`, {redirect: "follow"})
        if (sessionId.length === 0) {
            showMessage("Невозможно присоединиться к сессии с данным кодом приглашения", MessageType.ERROR);
            return;
        }
        window.location.href = `/session/${sessionId}`;
    }
</script>

<div class="text-center authorizationContainer centered-100">
    <div class="authorizationHeader">
        <h1 class="fs-2 fw-normal">Присоединиться к игре</h1>
    </div>

    <div class="authorizationButtons">
        <input type="text" id="inviteCode" class="text-center authorizationButtonsTemplate authorizationCommandName" placeholder="Код приглашения">
        <button class="authorizationButtonsTemplate authorizationButton" onclick="joinSession()">Присоединиться</button>
    </div>
</div>