.container1 {
    width: 950px;
    min-height: 450px;
    height: fit-content;

    margin: 50px auto;

    background-color: #fff;
    padding: 20px;

    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    /*border-radius: 10px;*/
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: black;
    border: none;
    margin-bottom: 20px;
}

.container2 {
    width: 900px;
    min-height: 300px;
    height: fit-content;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.padding-hrz-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.checkboxContainerTripleVersion {
    width: 215px;
    min-height: 100px;
    height: fit-content;

    margin-right: 125px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.checkboxContainerTripleVersion:last-child {
    margin-right: 0;
}

.checkboxContainerDoubleVersion {
    width: 420px;
    min-height: 100px;
    height: fit-content;

    margin-right: 60px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.checkboxContainerDoubleVersion:last-child {
    margin-right: 0;
}

.checkboxContainerSingleVersion {
    width: 100%;
    min-height: 100px;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.checkboxCardsMargin {
    width: 200px;
    height: 100px;
    margin: 5px 5px;
}

.checkboxCardContainer {
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.checkboxCardStyle1 {
    border-color: forestgreen;
}

.checkboxCardStyle2 {
    border-color: dodgerblue;
}

.checkboxCardStyle3 {
    border-color: darkred;
}

.cursorPointer {
    cursor: pointer;
}

.checkboxCardContent {
    width: 55px;
    min-height: 50px;
    height: fit-content;
}

.checkboxCardInput {
    width: 30px;
    height: 30px;

    display: none;

    position: absolute;

    top: 10px;
    right: 10px;
}

.checkboxCardInput:checked ~ .checkboxCardContainer{
    background-color: lightgray;
}

.checkboxCardNumber {
    width: fit-content;

    margin-bottom: 5px;
}
