.commandEditorContainer {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    
    width: 1300px;
    min-height: 500px;
}
@media (max-width: 1200px) {
    .commandEditorContainer {
        max-width: 1000px;
        width: fit-content;
    }
}

.commandEditorHeader {
    width: 100%;
    height: fit-content;

    align-content: center;
}

.commandEditorWindowsHeight {
    min-height: 500px;
    max-height: fit-content;
}

.commandEditorSWindow {
    width: 300px;
}

.commandEditorLWindow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    width: 904px;
}
@media (max-width: 1200px) {
    .commandEditorLWindow {
        width: 604px;
    }
}
@media (max-width: 800px) {
    .commandEditorLWindow {
        width: 300px;
    }
}

.commandEditorHeaders {
    width: 100%;
    height: 50px;

    align-content: center;
}

.commandEditorCommandContainer {
    width: 300px;
    height: 500px;
    
    border-width: 1px;
    border-color: #CAC4D0;
    border-style: dashed;
}

.commandEditorNamesContainer {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 400px;
}

.commandEditorButtonsTemplate {
    width: 300px;
    height: 50px;

}

.commandEditorBorderStyle {
    border-color: black;
    border-style: solid;
}

.commandEditorBorderWidth {
    border-width: 2px;
}

.commandEditorBorderRadius {
    border-radius: 15px;
}

.commandEditorBorderTopWidth {
    border-top-width: 2px;
}

.commandEditorBorderBottomWidth {
    border-bottom-width: 2px;
}
