.stepHeader {
    position: absolute;

    top: 0;

    width: 100%;
    height: 50px;

    background-color: white;

    border-bottom: 1px solid black;
}

.infoContainer {
    width: 60%;
    max-width: 1000px;

    background-color: #E6E6E6;
    
    position: relative;
    
    padding-top: 15px;
}

.infoContainer2 {
    width: 100%;

    background-color: #E6E6E6;

    position: relative;
}

.info {
    max-width: 80%;
    width: fit-content;
}

.stepControlButtons {
    position: absolute;

    bottom: 50px;

    width: 20%;
    min-width: 150px;
    max-width: 100px;
    height: 40px;

    border-radius: 15px;

    background-color: #363636;

    color: white;
}

.rightButton {
    right: 5%;
}

.leftButton {
    left: 5%;
}

.stepControlButtonsNonGlobal {
    margin-top: 40px;

    width: 20%;
    height: 40px;

    border-radius: 15px;

    background-color: #363636;

    color: white;
}

.leftButtonNonGlobal {
    margin-left: 10%;
    /*margin-right: 130px;*/
}

.rightButtonNonGlobal {
    margin-left: 40%;
}

.height-large {
    min-height: 400px;
    height: fit-content;
}

.height-medium {
    min-height: 300px;
    height: fit-content;
}

.height-small {
    min-height: 100px;
    height: fit-content;
}

.height-extra-small {
    height: 50px;
}

.container-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 70%;
    max-width: 800px;
}

@media (min-width: 1500px) {
    .stepControlButtonsNonGlobal {
        width: 30%;
    }

    .leftButtonNonGlobal {
        margin-left: 10%;
    }

    .rightButtonNonGlobal {
        margin-left: 20%;
    }
}

@media (max-width: 1000px) {
    .infoContainer {
        width: 80%;
    }
    
    .stepControlButtonsNonGlobal {
        width: 40%;
    }

    .leftButtonNonGlobal {
        margin-left: 5%;
    }

    .rightButtonNonGlobal {
        margin-left: 10%;
    }
}