.popup-card {
    position: relative;

    box-sizing: content-box;

    margin-bottom: 1rem;

    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.5s;

    float: right;
    clear: right;
}

.error {
    background-color: #f8d7da;
    color: #9c4c4c;
    border: 1px solid #f5c6cb;
}

.notification {
    background-color: #97e3e8;
    color: #1d696e;
    border: 1px solid #6fc1c6;
}

.warning {
    background-color: #ffcb70;
    color: #a1772d;
    border: 1px solid #efb44e;
}

.success {
    background-color: #c5fcc8;
    color: #537d62;
    border: 1px solid #91eda7;
}

.notification-container {
    position: fixed;
    right: 1rem;
    top: 1rem;
    margin-left: 1rem;
    z-index: 100;
}