.main-container {
    width: 90%;
    height: 450px;
    margin: 75px auto;
}

.main-container2 {
    width: 100%;
    min-height: 300px;
    height: fit-content;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    position: relative;
}

/* Таблица через div */
.role-table {
    width: 40%;
    min-height: 300px;
    height: fit-content;

    background-color: #E6E6E6;
    border-radius: 25px 25px 0 0;

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

/* Заголовок таблицы */
.role-table-header {
    display: flex;
    font-weight: bold;
    height: 58px;
    line-height: 58px;

    border-radius: 25px 25px 0 0;

    border: 1px solid black;
}

.role-table-header-cell {
    flex: 1;
    text-align: center;

    border-right: 1px solid black;
}

.role-table-header .role-table-header-cell:last-child {
    border-right: none;
}

/* Строки таблицы */
.role-table-row {
    display: flex;
    min-height: 80px;
    height: fit-content;
    line-height: 20px;

    border: 1px solid black;
}

.role-table-cell {
    flex: 1;
    text-align: center;
    
    display: flex;

    justify-content: center;
    align-items: center;

    border-right: 1px solid black;
}

.role-table-cell:last-child {
    border-right: none;
}

/* Элемент справа */
.right-element {
    width: 50%;
    min-height: 300px;
    height: fit-content;

    border-radius: 25px;
    border: 1px solid black;

    position: absolute;

    right: 0;
}
