.main-container {
    width: 90%;
    height: 450px;
    margin: 75px auto;
}

.main-container2 {
    width: 100%;
    min-width: 400px;
    min-height: 300px;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    position: relative;
}

/* Таблица через div */
.role-table {
    width: 40%;
    min-width: 200px;
    min-height: 300px;
    height: fit-content;

    position: absolute;
    right: 0;

    background-color: #E6E6E6;
    /*border-radius: 25px 25px 0 0;*/

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

/* Заголовок таблицы */
.role-table-header {
    display: flex;

    font-weight: bold;
    height: 58px;
    line-height: 58px;

    /*border-radius: 25px 25px 0 0;*/
}

.role-table-header-cell {
    flex: 1;
    text-align: center;

    border-right: 1px solid black;

    -webkit-box-shadow: 0px 9px 72px -50px rgba(0, 0, 0, 0.51) inset;
    -moz-box-shadow: 0px 9px 72px -50px rgba(0, 0, 0, 0.51) inset;
    box-shadow: 0px 9px 72px -50px rgba(0, 0, 0, 0.51) inset;
}

.role-table-header .role-table-header-cell:last-child {
    border-right: none;
}

/* Строки таблицы */
.role-table-row {
    width: calc(100% - 10px);
    
    margin: 0 auto;
    
    display: flex;
    min-height: calc((240px - 5px) / 3);
    height: fit-content;
    line-height: calc((240px - 5px) / 3);

    border-top: 1px solid black;
}

.role-table-cell {
    flex: 1;
    text-align: center;

    border-right: 1px solid black;
}

.role-table-cell:last-child {
    border-right: none;
}

/* Элемент справа */
.right-element {
    width: 50%;
    min-height: 300px;
    height: fit-content;

    background-color: #E6E6E6;

    padding-top: 5px;
    padding-bottom: 5px;

    position: absolute;

    left: 0;
}

.analystStyle {
    background: -webkit-linear-gradient(45deg, rgb(202, 98, 98) 4%, rgb(255, 132, 132) 81%);
    background: -moz-linear-gradient(45deg, rgb(202, 98, 98) 4%, rgb(255, 132, 132) 81%);
    background: linear-gradient(45deg, rgb(202, 98, 98) 4%, rgb(255, 132, 132) 81%);
}

.programmerStyle {
    background: -webkit-linear-gradient(45deg, rgb(125, 165, 200) 4%, rgb(159, 210, 255) 81%);
    background: -moz-linear-gradient(45deg, rgb(125, 165, 200) 4%, rgb(159, 210, 255) 81%);
    background: linear-gradient(45deg, rgb(125, 165, 200) 4%, rgb(159, 210, 255) 81%);
}

.testerStyle {
    background: -webkit-linear-gradient(45deg, rgb(125, 200, 124), rgb(147, 238, 146));
    background: -moz-linear-gradient(45deg, rgb(125, 200, 124), rgb(147, 238, 146));
    background: linear-gradient(45deg, rgb(125, 200, 124), rgb(147, 238, 146));
}